
$fontcolorprimary: black;
$fontcolorsecondry: #ffff;

$fontstyleprimary:"Times New Roman", Times, serif;
$fontstylesecondry:"Lucida Console", "Courier New", monospace;

$fontsizeprimary:1rem;

$fontwight:600;

$bgcolorlight:pink;
$bgcolordark:rgb(191, 48, 247);



